<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
<header class="color-prime">
    <div class="header-wrapper">
        <figure class="logo">
            <a th:href="@{/}" class=" text-light w-100 d-flex justify-content-center align-items-center">

                <img width="30px" th:src="@{img/spades.png}" alt="">
                <h1 class="fs-13 text-white">Aviato</h1>
            </a>
        </figure>
        <nav>
            <ul>
                <a href="#">
                    <li class="text-light">Our Mission</li>
                </a>
                <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
                    <li class="text-light"><button>Login</button></li>
                </a>
                <a th:href="@{/register}" sec:authorize="!isAuthenticated()">
                    <li class="text-light"><button>Sign Up!</button></li>
                </a>
                <a th:href="@{/profile}" sec:authorize="isAuthenticated()">
                    <li class="text-light"><button id="profile-btn" class="bg-transparent d-flex gap-1
                    text-white justify-content-center align-items-center">
                        <ion-icon class="fs-13 text-white" name="person-circle-outline"></ion-icon>
                        <p sec:authentication="principal.firstName"></p></button></li>
                </a>


            </ul>
        </nav>
        <menu class="text-white" style="color: #ffffff !important;z-index: 800 !important;">
            <ion-icon  class="text-white " name="menu-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                      aria-controls="offcanvasRight"></ion-icon>
        </menu>
    </div>

</header>
</th:block>

</html>
