<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="head">
<header class="color-prime">
    <div class="header-wrapper">
        <figure class="logo">
            <a href="index.html" class=" text-light w-100 d-flex justify-content-center align-items-center">

                <img width="30px" th:src="@{img/spade.png}" alt="">
                <h1 class="fs-3">Aviato</h1>
            </a>
        </figure>
        <nav>
            <ul>

<!--                <ul>-->
<!--                    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>-->
<!--                    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a></li>-->
<!--                    <li sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span></li>-->
<!--                </ul>-->

                <a href="#">
                    <li class="text-light">Our Mission</li>
                </a>
                <a href="#" >
                    <li class="text-light"><button>Login</button></li>
                </a>
                <a href="#">
                    <li class="text-light"><button>Sign Up!</button></li>
                </a>
                <a href="#" sec:authorize="isAuthenticated()">
                    <li class="text-light"><button sec:authentication="principal.firstName"></button></li>
                </a>


            </ul>
        </nav>
        <menu class="text-light">
            <ion-icon name="menu-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                      aria-controls="offcanvasRight"></ion-icon>
        </menu>
    </div>

</header>
</th:block>

</html>
