<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="searchBar">

    <section class="search-bar_section ">
        <form id="form" class="pb-6 color-prime box-shadow_bottom
        search-flight-cont h-100 justify-content-start" action="#" method="POST">
            <div class="drop-tabs justify-content-center
            justify-content-md-start flex-wrap">
                <!-- <label for="passenger">passenger</label> -->
                <select name="trip type" class="d-none" id="trip-type">
                    <option id="onewaytrip" value="onewaytrip">One Way</option>
                    <option id="roundtrip" value="roundtrip">Round trip</option>
                </select>
                <select name="ecom" class="d-none" id="ecom">
                    <option value="economy">Economy</option>
                    <option value="Business">Business</option>
                </select>
                <!--      <input type="button" id="adults-btn" class="form-label" style="background-color: transparent">Adults</input>-->
                <!--      <input type="number" id="adults-val"  class="form-control" maxlength="3" required>-->
                <select name="passenger" class="d-none" id="passenger">
                    <option value="adult">Adult</option>
                    <option value="child">Child</option>
                </select>
            </div>

            <div class="drop-tabs flex-wrap justify-content-center
                justify-content-md-center" id="flight-search">
                <div class="input-group mb-3 searchbar-w">
                    <span class="input-group-text" id="inputGroup-sizing-default">From</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" placeholder="Dallas">
                </div>

                <div class="input-group mb-3 searchbar-w">
                    <span class="input-group-text" id="inputGroup-sizing-default">To</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" placeholder="San Antonio">
                </div>
                <div class="fit-content d-flex gap-3 flex-wrap align-items-center justify-content-center"
                     id="dates">
                    <div class="input-group mb-3 w-25 searchbar-w">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                        <input class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default" type="date">
                    </div>
                </div>
            </div>
        </form>
    </section>
</th:block>
</html>