<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body class="color-prime">
<th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
    <th:block th:insert="~{partials/header:: header}"></th:block>
</header>
<main class="color-accent">

    <section class="color-prime flex-column responsive-height">
        <div class="box-shadow_top"></div>
        <div class="cont align-items-start justify-content-between p-4">

            <div class="hidden card-comment card-glass color-sub">
                At Aviato Flying Spades, our mission is to make travel easier and more accessible for everyone. We believe that everyone should have the opportunity to explore new places and experience new cultures, and we're dedicated to providing an online flight reservation system that makes it easier than ever before to find and book affordable flights to a wide range of destinations around the world.
            </div>
            <div class="hidden card-comment card-glass align-self-end color-sub">
                Our team is committed to creating a user-friendly platform that puts the needs of our customers first. Whether you're looking to book a last-minute weekend getaway or a long-haul flight for your next vacation, our platform is designed to provide you with the information and tools you need to find the perfect flight at a price that fits your budget.
            </div>
            <div class="hidden card-comment card-glass color-sub">
                At the heart of our mission is a commitment to quality and innovation. We're constantly working to improve our platform and add new features that make it easier and more convenient for our users to plan and book their travel. Whether you're a seasoned traveler or a first-time flyer, we're here to help you make the most of your journey and experience the world in a whole new way. Become an Ace when flying with Spades.
            </div>
        </div>
    </section>
    <!-- <section class="">
        <div class="cont w-100 color-prime">

            <div class="hidden card-comment card-glass color-sub">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil modi tenetur perferendis ut
                voluptatum animi recusandae molestias incidunt fugiat ipsa! Labore magni ipsum tempore! Dolore,
                consequatur? Repellat nostrum dolorem quia?
            </div>
        </div>
    </section> -->



</main>
<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
</body>

</html>