<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
    <th:block th:insert="~{partials/header:: header}"></th:block>
</header>

<h1>Booking</h1>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
</body>
</html>