<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

<h1>Booking</h1>

<a th:href="@{/about}">
    <li class="text-light">Our Mission</li>
</a>
<a th:href="@{/}">
    <li class="text-light"><button>home</button></li>
</a>


<div th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

</body>
</html>