<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html>-->
<!--<head>-->
<!--  <title>Flight Information Form</title>-->
<!--</head>-->
<!--<body>-->




<!--<h1>Flight Information Form</h1>-->
<!--<form  th:method="post" th:object="${flight}"  th:action="@{/flight-info}" >-->
<!--  <label for="airline">Airline:</label>-->
<!--  <input type="text" id="airline" name="airline" th:field="*{airline}" required><br>-->

<!--  <label for="price">Price:</label>-->
<!--  <input type="number" id="price" name="price" th:field="*{price}" step="0.01" required><br>-->

<!--  <label for="departureAirport">Departure Airport:</label>-->
<!--  <input type="text" id="departureAirport" name="departureAirport" th:field="*{departureAirport}" required><br>-->

<!--  <label for="departureCity">Departure City:</label>-->
<!--  <input type="text" id="departureCity" name="departureCity" th:field="*{departureCity}" required><br>-->

<!--  <label for="arrivalAirport">Arrival Airport:</label>-->
<!--  <input type="text" id="arrivalAirport" name="arrivalAirport" th:field="*{arrivalAirport}" required><br>-->

<!--  <label for="arrivalCity">Arrival City:</label>-->
<!--  <input type="text" id="arrivalCity" name="arrivalCity" th:field="*{arrivalCity}" required><br>-->

<!--  <label for="layoverLocation">Layover Location:</label>-->
<!--  <input type="text" id="layoverLocation" name="layoverLocation" th:field="*{layoverLocation}"><br>-->

<!--  <label for="arrivalTime">Arrival Time:</label>-->
<!--  <input type="datetime-local" id="arrivalTime" name="arrivalTime" th:field="*{arrivalTime}" required><br>-->

<!--  <label for="durationMinutes">Duration (minutes):</label>-->
<!--  <input type="number" id="durationMinutes" name="durationMinutes" th:field="*{durationMinutes}" required><br>-->

<!--  <label for="departureTime">Departure Time:</label>-->
<!--  <input type="datetime-local" id="departureTime" name="departureTime" th:field="*{departureTime}" required><br>-->

<!--  <label for="isBooked">Is Booked:</label>-->
<!--  <input type="checkbox" id="isBooked" name="isBooked" th:field="*{isBooked}"><br>-->

<!--  <label for="seat">Seat:</label>-->
<!--  <input type="number" id="seat" name="seat" th:field="*{seat}" required><br>-->

<!--  <input type="submit" value="Flight">-->
<!--</form>-->

<!--</form>-->
<!--</body>-->
<!--</html>-->
