<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body class="color-prime">
<th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
    <th:block th:insert="~{partials/header:: header}"></th:block>
</header>
<th:block th:insert="~{partials/searchBar:: searchBar}"></th:block>
<main class="color-accent hero">

    <section class="hero-slogan">
        <div class="mt-5 position-relative bg-transparent overflow-hidden pt-24 pt-lg-0 pb-24">
            <div class="row align-items-center g-16">
                <div class="col-12 col-md-6 ">
                    <div class="mw-md-xl  card-comment card-glass">
                        <h2 class="fs-7 mb-8 text-white">Book your Flight, Pack your bags, and let us do the Rest!</h2>
                        <p class="fs-17 text-white text-center mw-md-md mb-10">One-way, endless possibilities! <br> Discover your next destination with us!</p>
                        <div class="col-auto">
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <section class="scroller-cont color-prime box-shadow_top gap-7">
        <div id="plane" class="dol">
            sdlcsndclksndc sldckns skdlcns  skcd sc  slkcs
        </div>
        <div class="card-comment glass align-self-start ms-12">
            dlf ins clv sdkncvsldk cvmnsdl cvkdgio edlksndv dlkn gro ighe ndvedogn weoi fhn ewclkd nflw
        </div>





    </section>
    <section class="scroller-cont color-prime">
        <div class="card-comment glass align-self-end me-12">
            dlf ins clv sdkncvsldk cvmnsdl cvkdgio edlksndv dlkn gro ighe ndvedogn weoi fhn ewclkd nflw
        </div>
    </section>
    <section class="scroller-cont color-prime">
        <div class="card-comment glass align-self-start ms-12">
            dlf ins clv sdkncvsldk cvmnsdl cvkdgio edlksndv dlkn gro ighe ndvedogn weoi fhn ewclkd nflw
        </div>
    </section>
    <section class="scroller-cont color-prime">
        <div class="card-comment glass align-self-end me-12">
            dlf ins clv sdkncvsldk cvmnsdl cvkdgio edlksndv dlkn gro ighe ndvedogn weoi fhn ewclkd nflw
        </div>
    </section>









</main>

<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
<script th:src="@{js/search-bar.js}"></script>
<script th:src="@{js/scroll.js}"></script>



</body>

</html>