<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body>
    <th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
    <th:block th:insert="~{partials/header:: header}"></th:block>
</header>
    <th:block th:insert="~{partials/searchBar:: searchBar}"></th:block>
    <main class="color-accent hero">

    <section>
        <div class="mt-5 position-relative bg-transparent overflow-hidden pt-24 pt-lg-0 pb-24">
        <div class="row align-items-center g-16">
            <div class="col-12 col-md-6 ">
                <div class="mw-md-xl  card-comment card-glass">
                    <h2 class="fs-7 mb-8 text-white">Book your Flight, Pack your bags, and let us do the Rest!</h2>
                    <p class="fs-17 text-white mw-md-md mb-10">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint velit officia grow.</p>
                    <div class="col-auto">
                        <a href="#">
                            <button type="button" class="btn btn-danger-dark">Subscribe</button>
                        </a>
                    </div>
<!--                    <div class="row mb-20 g-5">-->

<!--                        <div class="col-auto">-->
<!--                            <a href="#">-->
<!--                                <img class="img-fluid" src="gradia-assets/logos/brands/play-store.svg" alt=""></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <h3 class="fs-17 fw-semibold">Trusted by 1M+ customers</h3>-->
<!--                    <div class="row align-items-center g-2">-->
<!--                        <div class="col-auto">-->
<!--                            <div class="row g-1">-->
<!--                                <div class="col-auto">-->
<!--                                    <img class="img-fluid" src="gradia-assets/elements/hero/star.svg" alt=""></div>-->
<!--                                <div class="col-auto">-->
<!--                                    <img class="img-fluid" src="gradia-assets/elements/hero/star.svg" alt=""></div>-->
<!--                                <div class="col-auto">-->
<!--                                    <img class="img-fluid" src="gradia-assets/elements/hero/star.svg" alt=""></div>-->
<!--                                <div class="col-auto">-->
<!--                                    <img class="img-fluid" src="gradia-assets/elements/hero/star.svg" alt=""></div>-->
<!--                                <div class="col-auto">-->
<!--                                    <img class="img-fluid" src="gradia-assets/elements/hero/star.svg" alt=""></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-auto">-->
<!--                            <h3 class="fs-18 fw-medium mb-0">-->
<!--                                <span>4.2/5</span>-->
<!--                                <span class="text-dark">(45k Reviews)</span>-->
<!--                            </h3>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
<!--            <div class="col-12 col-md-6">-->
<!--                <img class="img-fluid" th:src="@{img/White_Matte-removebg-preview_magic.png}" alt="">-->
<!--            </div>-->
        </div>
    </div>
    </div>
    </section>








</main>
    <th:block th:insert="~{partials/footer:: footer}"></th:block>
    <th:block th:insert="~{partials/scripts:: scripts}"></th:block>
    <script th:src="@{js/search-bar.js}"></script>

</body>

</html>