<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body class="color-prime">

<th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
    <th:block th:insert="~{partials/header:: header}"></th:block>
</header>
<main class="color-accent hero">

    <section class="hero-slogan">
        <div class="mt-5 position-relative bg-transparent overflow-hidden pt-24 pt-lg-0 pb-24">
            <div class="row align-items-center g-16">
                <div class="col-12 col-md-6 ">
                    <div class="mw-md-xl card-comment card-glass">
                        <h2 class="fs-7 mb-8 text-white">Book your Flight, Pack your bags, and let us do the Rest!</h2>
                        <p class="fs-17 text-white text-center mw-md-md mb-10">One-way, endless possibilities! <br> Discover your next destination with us!</p>
                        <form action="results.html">
                            <button style="border: 1px solid white; border-radius: 50px; background: transparent; color: white; padding: 10px 20px; font-size: 17px;">
                                Search Flights
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <section class="scroller-cont color-prime box-shadow_top gap-7">
        <div id="plane">
            <img class="plane-outline" th:src="@{img/plane-outline.png}" alt="">
        </div>
        <div class="card-comment glass align-self-start align-items-md-center align-items-sm-center  ms-12 animate__animated animate__fadeInLeft">
            <p>Search for flights based on departure, destination airports, and travel dates.</p>
        </div>





    </section>
    <section class="scroller-cont color-prime">
        <div class="hidden card-comment glass align-self-end me-12 align-items-md-center align-items-sm-center">
            <p>Discover a list of available flights with details such as flight times, airlines, and prices</p>
        </div>
    </section>
    <section class="scroller-cont color-prime">
        <div class="hidden card-comment glass align-self-start ms-12 align-items-md-center align-items-sm-center">
            <p>Once you have selected a flight, start the payment process Safe and Securely</p> </div>
    </section>
    <section class="scroller-cont color-prime">
        <div class="hidden card-comment glass align-self-end me-12 align-items-md-center align-items-sm-center">
            <p>Receive an email about your flight itinerary and view your payment details</p>
        </div>
    </section>









</main>

<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
<script th:src="@{js/search-bar.js}"></script>
<script th:src="@{js/scroll.js}"></script>
<script th:src="@{js/effects.js}"></script>




</body>

</html>