<!DOCTYPE html>
<!--Thymeleaf established as templating language-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<h1>Login</h1>

<!--Login form, input data will be sent to LoginController-->
<form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:value="${username}"/><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/><br>

    <button type="submit">Login</button>
</form>


<!--Link to redirect user to register.html, to create new account-->
<a href="/register">Don't have an account? Register here.</a>

</body>

</html>
