<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
  <th:block th:insert="~{partials/header:: header}"></th:block>
</header>
<main class="color-accent justify-content-center">


  <!-- Displaying user information -->

  <h1 th:text="'Welcome, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'"></h1>
  <p th:text="'Email: ' + ${user.email}"></p>

  </div>

  <br>


  <!--Editing profile-->

  <h2>Edit Profile:</h2>
  <form th:action="@{/profile/edit}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" value="" required/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" value="" required/>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" value="" required/>
    <input type="hidden" th:field="*{password}">

    <button type="submit">Save Changes</button>

    <br>
    <br>
  </form>

  <!--Deleting account-->

  <h2>Delete Profile</h2>
  <form th:method="post" onsubmit="return confirm('Are you sure you want to delete your account?')" th:action="@{/profile/delete}">
    <input type="submit" value="Delete">
  </form>

  <br>
  <br>

  <!--Flight list-->

  <h2>Flights List:</h2>

  <ul>
    <li th:each="flight : ${flights}">
      <p th:text="'Airline: ' + ${flight.airline}"></p>
      <p th:text="'Price: ' + ${flight.price}"></p>
      <p th:text="'Departure Airport: ' + ${flight.departureAirport}"></p>
      <p th:text="'Departure City: ' + ${flight.departureCity}"></p>
      <p th:text="'Arrival Airport: ' + ${flight.arrivalAirport}"></p>
      <p th:text="'Arrival City: ' + ${flight.arrivalCity}"></p>
      <p th:text="'Layover Location: ' + ${flight.layoverLocation}"></p>
      <p th:text="'Arrival Time: ' + ${flight.arrivalTime}"></p>
      <p th:text="'Duration (minutes): ' + ${flight.durationMinutes}"></p>
      <p th:text="'Departure Time: ' + ${flight.departureTime}"></p>
      <p th:text="'Booked: ' + ${flight.isBooked}"></p>
      <p th:text="'Seat: ' + ${flight.seat}"></p>
      <form th:action="@{/profile/flights/{flightId}(flightId=${flight.id})}" method="post">
        <button type="submit">Cancel Flight</button>
      </form>
    </li>
  </ul>



  <br>
  <br>

  <!-- Log out function -->

  <div th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout"/>
    </form>




</main>

<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
</body>

</html>