<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:insert="~{partials/head:: head}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/offcanvas:: offcanvas}"></th:block>
<header>
  <th:block th:insert="~{partials/header:: header}"></th:block>
</header>
<main class="color-accent justify-content-center">


  <!-- Displaying user information -->

  <h1 th:text="'Welcome, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'"></h1>
  <p th:text="'Email: ' + ${user.email}"></p>

  </div>

  <br>


  <!--Editing profile-->

  <h2>Edit Profile:</h2>
  <form th:action="@{/profile/edit}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" value="" required/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" value="" required/>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" value="" required/>
    <input type="hidden" th:field="*{password}">

    <button type="submit">Save Changes</button>

    <br>
    <br>
  </form>

  <!--Deleting account-->

  <h2>Delete Profile</h2>
  <form th:method="post" onsubmit="return confirm('Are you sure you want to delete your account?')" th:action="@{/profile/delete}">
    <input type="submit" value="Delete">
  </form>

  <br>
  <br>

  <!--Flight list-->

  <h2>Flights List:</h2>

  <table>
    <thead>
    <tr>
      <th>Flight Number</th>
      <th>Airline</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Layover</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${user.flightsList}">
<!--      <td th:text="${flight.flightNumber}"></td>-->
      <td th:text="${flight.airline}"></td>
      <td th:text="${flight.departureCity} + ' (' + ${flight.departureAirport} + ') at ' + ${flight.departureTime}"></td>
      <td th:text="${flight.arrivalCity} + ' (' + ${flight.arrivalAirport} + ') at ' + ${flight.arrivalTime}"></td>
      <td th:text="${flight.layoverLocation}"></td>
      <td th:text="'$' + ${flight.price}"></td>
      <td>
        <form th:action="@{/profile/flights/{flightId}(flightId=${flight.id})}" method="post">
          <button type="submit">Cancel Flight</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>




  <br>
  <br>

  <!-- Log out function -->

  <div th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout"/>
    </form>




</main>

<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
</body>

</html>