<!DOCTYPE html>
<!--Thymeleaf established as templating language-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Aviato</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav ml-auto">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" th:href="@{/profile}">Profile</a>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </div>
    </div>
</nav>



<h1>Register</h1>

<form method="POST" th:action="@{/register}" th:object="${user}">

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" required><br><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required><br>


    <!--  Form Validation  -->
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <!--  Form Validation Errors  -->
    <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger">
        <p>Password must be at least 8 characters long and contain at least 1 symbol.</p>
    </div>






    <input type="submit" value="Register">
</form>




</body>
</html>